section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
}

.box {
    width: 300px;
    background-color: #c0e5ff93;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
    text-align: center;

    }

.picture{
        max-width: 50%;
        border-radius: 100px;
        width: 150px;
        position: relative;
        margin: 0;
        padding: 0;
}

#nome{
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{

    margin: 5px;
}

h2, p{

    font-size: 12px;
    margin: 1px;
}

.button {
    width: 75%;
    background-color: #2f78ff95;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    list-style-type: none;
  }

  .button:hover{
      background-color: #2f78ff;
  }

  .whatsapp{
      width: 30px;
      padding: 0;
      margin: 0;
  }
  #goBack{
   
    width: 40px;
    position: absolute;
    right: 420px;
    top: 95px;
}